h1{ color: red; background-color: blue; }
h2{color: pink; background-color: red;}
p{ border: 2px solid pink; 
	margin-left: 50px; margin-top: 50px; margin-bottom: 50px; margin-right: 50px; padding-top: 50px; 
	padding-left: 75px; padding-bottom: 50px; padding-right: 10px;} 